
<header>
	<div class="menu" >
		<nav class ="myNav">
		  	<ul class="myul">
				<li class="li"><a href='/'>Home</a></li>
				<li class="li"><a href='/auth/login'>Login</a></li>
				<li class="li"> To do List
				  <ul class="drop-menu subMenu">
			    	<li  class="detsm li"><a href='/todoList/add'>Add a new to do</a></li>
					<li  class="detsm li"><a href='/todoList'>My todo List</a></li>
				  </ul>
				</li>
				<li class="li">Category
				  <ul class="drop-menu subMenu">
				    	<li  class="detsm li"><a href='/categories'>Categories</a></li>
				    	<li  class="detsm li"><a href='/categories/add'>New category</a></li>
				  </ul>
				</li>
				<li class="li">User
				<ul class="drop-menu subMenu">
					<li  class="detsm li"><a href='/auth/register'>Register</a></li>
					<li class="li"><a href='/auth/logout'>Logout</a></li>
				</ul>
				</li>
		  	</ul>
		</nav>
	</div>
</header>
