<% include ./partials/boilerplate %>
	<% include ./partials/nav %>
		<div class="container">
		  <h1><%= message %></h1>
		  <h1><%= subTitle %></h1>
		</div>
	<% include ./partials/pageFooter %>
<% include ./partials/end %>
