<% include ../partials/boilerplate %>
	<% include ../partials/nav %>
	<div class='container'>
		<div class='centerContainer'>
			<form method='POST' action='/categories'>
			  <input name='description' type='text' placeholder='description'/>
			  <input type='submit' value='Submit'/>
			</form>
		</div>
	</div>
<% include ../partials/end %>
